body {
  font-family: Audiowide, sans-serif;
  margin: 0;
  background-color: rgb(246, 241, 236);
}

a {
  text-decoration: none;
  color: rgb(31, 31, 31);
  font-weight: bold;
}
.download-icon {
  height: 20px;
  margin-right: 5px;
}

/* -------- NAVBAR -------- */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  height: 70px;
}

.left-section img {
  height: 90px;
  margin-left: 70px;
}

.nav-links {
  display: flex;
  gap: 35px;
  list-style: none;
  margin-left: auto;
  margin-right: 70px;
}

.right-section {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-right: 40px;
}
.resume {
  display: flex;
  align-items: center;
  text-decoration: underline;
}

.hire-btn {
  padding: 10px 18px;
  background: linear-gradient(135deg, #05001f, #0a003a);
  border-radius: 6px;
  color: white;
}

/* -------- HOME SECTION -------- */
.home {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  height: calc(100vh - 70px);
  padding: 60px 80px;
}
.home-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  max-width: 700px;
  color: rgb(23, 21, 21);
}
.home-left h1 {
  font-size: 60px;
  margin: 0;
}
.home-left h2 {
  font-size: 24px;
  margin: 0;
}
.home-left h3 {
  font-size: 20px;
  margin: 10px 0;
}
.home-left p {
  font-size: 16px;
  line-height: 1.5;
}
.home-left-btn {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.home-left-btn .hire-btn {
  padding: 14px 45px;
  background: linear-gradient(135deg, #05001f, #0a003a);
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 15px;
  cursor: pointer;
}
.whatsapp-btn {
  padding: 14px 40px;
  border: 2px solid black;
  background-color: white;
  border-radius: 10px;
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.whatsapp-icon {
  height: 30px;
}

.social-media-icons {
  display: flex;
  gap: 18px;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: 5px;
}
.social-media-icons img {
  height: 35px;
}
.home-right {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 40px;
}
.Athul-img {
  height: 700px;
}

/* ===== TECH STACK CURVED BANNER ===== */
.tech-banner {
  width: 100%;
  background: linear-gradient(90deg, #05001f, #0a003a);
  padding: 25px 0;
  margin-top: 40px;
  clip-path: ellipse(75% 100% at 50% 0%);
  margin-top: -65px;
}

.tech-scroll {
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
}

/* ===== ABOUT SECTION ===== */
.about {
  padding: 50px 80px;
  text-align: center;
}

.about h1 {
  font-size: 42px;
  margin-bottom: 40px;
  letter-spacing: 2px;
}

.about p {
  max-width: 900px;
  margin: auto;
  font-size: 15px;
  line-height: 1.9;
  color: #222;
}

/* ===== ABOUT BUTTONS ===== */
.about-buttons {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.about .hire-btn {
  padding: 14px 45px;
  background: linear-gradient(135deg, #05001f, #0a003a);
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 15px;
  cursor: pointer;
}

.about .whatsapp-btn {
  padding: 14px 40px;
  border: 2px solid black;
  background-color: white;
  border-radius: 10px;
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.about .whatsapp-btn img {
  height: 20px;
}

/* ===== MY SEVICES ===== */

.services {
  padding: 50px 60px;
  text-align: center;
}

.services-title {
  font-size: 42px;
  letter-spacing: 2px;
  margin-bottom: 40px;
}

.service-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  max-width: 900px;
  margin: auto;
}

.services-cell {
  padding: 18px 45px;
  border-radius: 40px;
  background-color: rgb(255, 255, 255);
  border: 2px solid #cfcfe6;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: all 0.3s ease;
}

.services-cell:hover {
  transition: 0.3s;
  background: linear-gradient(135deg, #05001f, #0a003a);
  color: white;
  transform: translateY(-4px);
}

/* ===== MY WORKS ===== */

.my-work {
  background: linear-gradient(135deg, #05001f, #0a003a);
  text-align: center;
  padding: 50px;
  color: aliceblue;
}

.work-container {
  background-color: beige;
  border-radius: 20px;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 18px;
  height: 400px;
}
.work-cell img {
  height: 300px;
  padding-left: 50px;
  padding-right: 0;
}
.project-details {
  text-align: left;
  margin: auto;
}

.project-details p {
  max-width: 300px;
  margin: auto;
  font-size: 15px;
  line-height: 1.3;
  color: #222;
}

.view-project {
  margin-top: 30px;
  padding: 14px 45px;
  background: linear-gradient(135deg, #05001f, #0a003a);
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 15px;
  cursor: pointer;
}
